session_secret: "replace me"
redis:
  server: localhost
  port: 6379
  password: 
omniauth:
  google_oauth2:
    client_id: "replace me"
    secret: "replace me"
gcp:
  project_id: paynote
  credentials: PayNote-568ec574331c.json
